@use "./variables" as *;


.mainContainer {
    margin-top: 40px;

    .textContainer {
        font-size: 40px;
        font-weight: 600;

        h5 {
            margin-bottom: 10px;
            font-size: 25px;
        }

        h2 {
            margin-top: 20px;
        }
    }
}