@use "./variables" as *;

header {
    flex-direction: column;
    background-color: $white;
}

.mainContainer {
    height: 100vh;
    // margin-top: 40px;
    display: flex;
    // justify-content: center;
    align-items: center;

    .textContainer {
        font-size: 40px;
        font-weight: 600;

        h5 {
            margin-bottom: 10px;
            font-size: 25px;
        }

        h2 {
            margin-top: 20px;
        }
    }
}

