

$white:#fff;
$backgroundWhite: #f8f8f8;
$black: #121212;
$blackTransparent: rgba(18, 18, 18, 0.8); 
$lightGrey: #a8a8a8;
$lightGray: #e7e7e7;
$grey: #666;

$fontStack:'Lato', Arial, sans-serif;
$secondaryFont: 'Space Grotesk', sans-serif;